/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after {
    content: "";
    display: table;
    table-layout: fixed;
}

.clear:after {
    clear: both;
}

.tbas-tooltip-text{
    background: #444;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    height: auto;
    right: 56px;
    margin-top: 10px;
    max-width: 150px;
    position: absolute;
    padding: 6px 10px;
    top: auto;
    display: none;
    z-index: 10000;
}

.tbas-tooltip-text::before {
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 5px solid transparent;
    border-bottom: 5px solid #444;
    bottom: auto;
    content: " ";
    font-size: 0;
    right: 56px;
    line-height: 0;
    margin-right: -5px;
    position: absolute;
    top: -10px;
    width: 0;
}

.show-tooltip{
    display: block;
}

.tbas-field-row {
    padding: 10px 0px;
    overflow: hidden;
    -js-display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.tbas-field-row .tbas-field-row-heading {
    margin: 0 0 10px;
    width: 200px;
}

.tbas-field-row .tbas-field-row-heading label {
    font-weight: bold;
}
